modules = ["nodejs-20", "web"]
run = "cd ./client && pnpm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd ./client & pnpm run dev"]

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 5181
externalPort = 80

[[ports]]
localPort = 5182
